.layout-box {
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #001529;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

    &__title {
      margin: 0;
      font-size: 18px;
      color: #fff;
    }

    .ant-space-item {
      color: #fff;
    }
  }

  .section {
    display: flex;
    height: calc(100% - var(--header-height));

    .ant-menu {
      height: 100%;

      .ant-menu-item {
        a:hover {
          text-decoration: none;
        }
      }
    }

    .side-menu {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 256px;

      .ant-menu-inline-collapsed {
        width: 100%;
      }

      .controll-menu {
        height: 48px;
        line-height: 48px;

        border-top: 1px solid #ebe8e8;
        box-sizing: border-box;
        cursor: pointer;

        .ant-menu-item:hover {
          background-color: transparent;
        }

        .collapsed-btn {
          padding-left: 16px;
        }
      }
    }

    .content {
      flex: 1;
      padding: 16px;
      overflow: hidden;
      background-color: #f0f2f5;
    }
  }
}
